$ORIGIN {{ item.key }}.
$TTL {{ zone.ttl }}

@ IN SOA {{ zone.soa.primary_ns }} {{ zone.soa.hostmaster }} {{ zone_serial }} {{ zone.soa.refresh }} {{ zone.soa.retry }} {{ zone.soa.expire }} {{ zone.soa.minimum }}
  IN NS  {{ zone.soa.primary_ns }}

{% for record in zone.records %}
{{ record.name }} IN {{ record.type }} {{ record.value }}
{% endfor %}
